:root{
  --font-family-primary: "Times", serif;
  --font-family-secondary: Arial, sans-serif;
  --font-family-monospace: 'Menlo', monospace;

  --font-weight-normal: 400;
  --font-weight-bold: 700; 

  --font-size-base: 20px; 

  --line-height-primary: 1.2;
  --line-height-secondary: 1.0;
  --line-height-heading: 1.0;
  --line-height-monospace: 1.0;

  /* Combined Font Variables */
  --font-primary:   normal normal var(--font-weight-normal) var(--font-size-base)/var(--line-height-primary)   var(--font-family-primary);
  --font-secondary: normal normal var(--font-weight-normal) var(--font-size-base)/var(--line-height-secondary) var(--font-family-secondary);
  --font-heading:   normal normal var(--font-weight-bold)   var(--font-size-base)/var(--line-height-heading)   var(--font-family-secondary);
  --font-monospace: normal normal var(--font-weight-normal) calc(var(--font-size-base) * 0.8)/var(--line-height-monospace) var(--font-family-monospace);

  --BLACK: #000;
  --WHITE: #fff;
  --GRAY: #424242;
  --GREY: #9c9c9c;
  --RED : #cc0000;
  --BLUE: #0000cc;
  --GREEN: #006633;
  --YELLOW: #FFEB3B;

  --site-max-wdth: 700px;

}


html {
  font-size: var(--font-size-base); /* Default root font size */
}

body {
  font: var(--font-primary);
  max-width: var(--site-max-wdth);
  margin: auto;
  padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
  font: var(--font-heading);
}
h1 {font-size: 2.0rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1.17rem;}

/* <typography> */ 

.tiny{
  font-size: 0.5rem;
}
small, .small {
  font-size: 0.8rem;
}
.monospace { 
  font: var(--font-monospace);
}
.text_secondary {
  font-family: var(--font-family-secondary);
}

.red {color:var(--RED);}
.green {color:var(--GREEN);}
.blue {color:var(--BLUE);}
.yellow {color:var(--YELLOW);}
.black {color:var(--BLACK);}
.white {color:var(--WHITE);}

/* </typography> */



/* <nav> */

nav {
  padding: 5px;
  border-bottom: 1px dashed var(--BLACK);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  display: inline-block;
  padding:5px;
}

nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--BLACK);
}

nav li:hover {
  background-color: var(--YELLOW);
}
/* </nav> */

code, pre {
  font: var(--font-monospace);
  font-size: 80%;
}
pre {
  background-color: var(--GREY);
}


a {
    text-decoration: none;
}

ul.list_item {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.list_item li {
    display: inline;
    padding-right:5px;
}

ul.link_item {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.link_item li {
    display: inline;
    padding-right:5px;
}