---
layout: page
title: Articles
---

These are a list of articles/blog posts etc that I like in on particular order. Give them a read.

<ul>
{% for link in site.links reversed%}
    <li>
    <a href="{{link.link | absolute_url }}" target="_blank">
    <big>
    {% if link.name %}
      {{link.name}}
    {% else %}
      {{link.title}}
    {% endif %}
    </big>
    </a><br>
    {% if link.author %}
    <small><i><code>&rarr; {{link.link | absolute_url}}</code></i></small><br>
    <i> by <a href="/links_authors/#{{link.author}}">{{link.author }}</a></i>
    {% endif %}
    {% if link.tags.size > 0 %}
      <code>
      {% for tag in link.tags %}
         • <a href="/links_tags/#{{tag}}">{{tag}}</a>
      {% endfor %}
      </code>
      <br>
    {% endif %}
    
    
    {% if link.content.size > 5 %}
      <p>{{link.content}}</p>
    {% else %}
      <br>
    {% endif %}
    </li>
{% endfor %}
</ul>
