{{ define "main" }}
<h2>Links</h2>
{{.Content}}


{{ $p := where .Site.RegularPages.Reverse "Section" "in" (slice "links") }}


<ul style="padding-inline-start:0">
    <li style="display: block">
        <div style="display:flex; flex-direction: row;" class="ext_link_container">
            <div style="flex: 0 0 80px"> <span class="small grey"> Posted on </span> </div>
            <div style="flex: 0 0 520px"> </div>
            <div style="flex: 0 0 50px;padding-left:0px">
                <a href="/links" class="small green"> show <span class="red">all</span></a>
            </div>
        </div>
     </li>
    {{ range sort $p "Params.date" "asc" | collections.Reverse }}
        {{ if .Params.favorite }}
        <li style="display: block">
            <div style="display:flex; flex-direction: row;" class="ext_link_container">
                <div style="flex: 0 0 80px">
                    <time style="font-family:monospace" class="tiny green">{{ time.Format "02,Jan 2006" .Params.date }}</time>
                </div>
                <div style="flex: 0 0 520px; padding-left:20px; text-align:left;">
                    <div>
                         <a href="{{ .Permalink }}">
                         {{ .Title }}
                         </a>
                        <i class="gray"><small>by {{ range .Params.authors }} {{.}} {{ end }}</small></i>
                    </div>
                </div>
                <div style="flex: 0 0 50px; padding-left:20px;text-align:center">
                  {{ if .Params.favorite }}
                    <a href="{{ .Params.ext_url }}" target="_blank" class="small red">❤︎ </a>
                  {{ else }}
                    <a href="{{ .Params.ext_url }}" target="_blank" class="small green">Σ</a>
                  {{ end }}
                </div>
            </div> 
        </li>
        {{ end }}
    {{ end }}
</ul>
{{ end }}
