*, *:before, *:after {
    box-sizing: border-box;
}

:root {
/*font: font-style font-variant font-weight font-size/line-height font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit;*/
    --font-primary: normal normal 400 1.1rem/1.45 "Georgia", serif;
    --font-secondary-heading: normal normal 800 1.1rem/1.2 Helvetica, Arial, sans-serif;
    --font-secondary: normal normal 400 1.1rem/1.4 Helvetica, Arial, sans-serif;
    --BLACK: #000;
    --RED : #cc0000;
    --GRAY: #424242;
    --GREY: #9c9c9c;
    --BLUE: #0000cc;
    --GREEN: #006633;
    --YELLOW: #faebd8;
    

}

html {
    /*font-size: 62.5%;*/
    font-size: 100%;
}

body {
    font-size: 1.1rem;
    font: var(--font-primary);    
    color: #1a1a1a;
    margin: 0 auto 0 auto;
    padding: 0 16px;
}

header#banner {
    margin: 0px 0;
}

header#banner a {
    color: #313a3d;
    text-decoration: none;
}

header#banner a:hover {
    text-decoration: underline;
}

header#banner h2 {
    display: inline;
    font-size: 2.1rem;
    margin: 0 8px 0 0;
}

header#banner nav {
    display: inline-block;
}

header#banner nav ul {
    list-style-type: none;
    font-size: 1.05rem;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}

.header{
    max-width: 800px;
    margin: auto;
}

header#banner nav ul li {
    display: inline;
    margin: 0 0px;
}

header#banner nav ul li a {
    color: #454545;
}

main#content a {
    color: #007dfa;
    text-decoration: none;
}

main{
    min-height: 500px;
}

main#content a:hover {
    text-decoration: underline;
}


h1,.h1{font-size:1.9rem !important}
h2,.h2{font-size:1.5rem !important}
h3,.h3{font-size:1.3rem !important}
h4,.h4{font-size:.9rem !important}
h5,.h5{font-size:.875rem !important}
h6,.h6{font-size:.75rem !important}

h1,h2,h3,h4,h5,h6 {
    font:  var(--font-secondary-heading);
}

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
    margin-bottom: 0;
    /*line-height: 1.2;*/
}

main#content h3 {
    /*font-size: 19px;*/
    /*font-size: 1.9rem;*/
}

main#content h1 {
    /*font-size: 2.5rem;*/
    margin-bottom: 2rem;
    /*margin-top: 6rem;*/
}

main#content h1 + p,
main#content h2 + p,
main#content h3 + p,
main#content h4 + p,
main#content h5 + p,
main#content h6 + p {
    margin-top: 5px;
}

main#content p {
    color: #000;
    margin: 16px 0;
    word-break: break-word;
    text-algn: justify;
}

main#content hr {
    height: 1px;
    border: 0;
    background: #d8d8d8;
}

main#content abbr {
    cursor: help;
}

/* index.html styles */
main#content ul#posts {
    list-style-type: none;
    font-size: 1rem;
    margin-top: 0;
    padding: 0;
}

main#content ul#posts li {
    margin: 5px 0;
    padding: 0;
}

main#content ul#posts small {
    font-size: 0.8em;
    color: #767676;
    margin-left: 10px;
}

main#content ul#posts li a {
    text-decoration: none;
}

main#content ul#posts li a:hover {
    color: #369aff;
    text-decoration: underline;
}

main#content ul#posts li a:hover small {
    color: inherit;
}

/* single.html styles */

main#content header#post-header > div {
    display: block;
    font-size: 0.85em;
    color: #767676;
}

main#content #toc {
    border: 1px solid #b1b1b1;
    border-radius: 1px;
    line-height: 26px;
    margin: 16px 0;
    padding: 9px 14px;
}

main#content #toc h4 {
    font-size: 1.06em;
    color: #3d3d3d;
    margin: 0;
}

main#content #toc nav#TableOfContents {
    margin-top: 4px;
}

main#content #toc nav#TableOfContents > ul, main#content #toc nav#TableOfContents > ol {
    margin-left: -40px;
}

main#content #toc ul, main#content #toc ol {
    font-size: 0.98em;
    margin: 0;
    padding: 0 0 0 40px;
}

main#content #toc ul {
    list-style-type: none;
}

main#content #toc ol {
    counter-reset: item;
}

main#content #toc ol li {
    display: block;
}

main#content #toc ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

main#content img {
    max-width: 100%;
    margin: 0 auto;
}

main#content figure {
    margin: 16px 0;
}

main#content figure img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

main#content figure figcaption {
    font-size: 0.92em;
    font-style: italic;
    line-height: 22px;
    text-align: center;
    margin-top: 6px;
    padding: 0 10px;
}

main#content figure figcaption h4 {
    font-style: normal;
    display: inline;
    margin: 0;
}

main#content figure figcaption p {
    display: inline;
    margin: 0;
    padding-left: 8px;
}

main#content blockquote {
    font-style: normal;
    font-size: 1.0rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1rem;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 0.5rem;
    border-left: 3px solid #232323;
}

main#content code,
main#content pre {
    font-family: 'Menlo', monospace;
}

main#content code {
    font-size: 0.96em;
    padding: 0 5px;
}

main#content pre {
    display: block;
    overflow-x: auto;
    font-size: 1rem;
    white-space: pre;
    margin: 20px 0;
    padding: 1.5rem 1.5rem;
    line-height: 1.4;
}

main#content pre code {
    padding: 0;
}

main#content section.footnotes {
    font-size: 0.9em;
}

footer#footer {
    font-size: 1.0rem;
    font-weight: 400;
    color: #b3b3b3;
    margin: 10px 0;
}

article a {
    color: #111 !important;
    box-shadow: 0 1px #000;
    text-decoration: none !important ;
    /* text-decoration: underline !important ;
    text-decoration-color: #000;*/
    word-break: break-all;
}
article a:hover {
    color: #777 !important;
    box-shadow: 0 1px #ddd;
    /*text-decoration: underline !important ;
    text-decoration-color: #fff;*/
}


.container{
    max-width: 650px;
    margin: auto;
    margin-top: 2rem;
}

h1{
    text-align: center;
    padding-bottom: 1rem;
}
}
