/* TYPOGRAPHY */
.green{
    color: var(--GREEN) !important;
}

.black{
    color: var(--BLACK) !important;
}

.red{
    color: var(--RED) !important;
}
.orange{
    color: var(--ORANGE) !important;
}

.gray{
    color: var(--GRAY) !important;
}

.grey{
    color: var(--GREY) !important;
}

.blue{
    color: var(--BLUE) !important;
}

.small {
    font-size: small !important;
}

.tiny {
    font-size: x-small !important;
    line-height: 120%;
}

.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.text-justify {
    text-align: justify !important;
}

comment{
    color: var(--GREEN);
    font-size: small;
    line-height: 1.4em;
    display: inline-block;
}
.monospace{
  font-family: monospace;
}
