	<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
					<a href="#" data-toggle="tooltip" title="This is one of very few good photos" data-placement="right">
					<img class="img-responsive img-circle center-block dp" style="width:300px" src="/img/profile.png" alt="">
					</a>
					</div>
					<div class="row">
						<p class="name text-center" style="font-variant: small-caps;font-size: xx-large;">
							{{ site.title }}
						</p>
						<p class="skills text-center text-warning" style="font-family:fantasy;">maker of little things</p>
					</div>
				</div>
			</div>
		</div>
	</header>
