	<!-- Footer -->
	<footer class="text-center">
		<div class="footer-above">
			<div class="container">
				<div class="row">
					<!--
					<div class="footer-col col-md-4">
						<h3>{{ site.footer.location }}</h3>
						<p>
							{% for adress in site.address %}
								{{ adress.line }} <br>
							{% endfor %}
						</p>
					</div>
					-->
					<div class="footer-col col-md-4">
						<a href="/links" class="btn btn-lg btn-outline">
                        	<!--<i class="fa fa-download"></i> -->
							<h3 style="width:235px">Must see Links</h3>
							<i class="material-icons md-48">link</i>
							<i class="material-icons md-48">link</i>
							<i class="material-icons md-48">link</i>

                    	</a>
					</div>

					<section style="display:inline" id="contact">
					<div class="footer-col col-md-4 btn btn-outline btn-lg">
						
						<h3 style="margin-bottom: 8px;">{{ site.footer.social }}</h3>
						<ul class="list-inline">
							{% for network in site.social %}
							<li>
								<a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
							</li>
							{% endfor %}
						</ul>
					</div>
					</section>
					<div class="footer-col col-md-4">
						<a href="/credits" class="btn btn-lg btn-outline">
							<h3 style="width:235px">{{ site.footer.credits }}</h3>
							<i class="material-icons md-48">accessibility</i>
							<i class="material-icons md-48">accessibility</i>
							<i class="material-icons md-48">accessibility</i>
                    	</a>
						<!--<p>{{ site.credits }}</p>-->
					</div>
				</div>
			</div>
		</div>
	</footer>

