<div class="container">
	<div class="row" style="margin-bottom:10px">
	<style>
		.tiles-nd1{
			width:100%;
			display:block;
			min-width:175px;
			margin-left:auto;
			margin-right:auto;
		}
		.tiles-nd1:hover{
			border-color:#{{site.color.tertiary}};
		}
	</style>
	<div class="col-sm-3">
	<a href="/links" class="btn btn-lg btn-outline tiles-nd1" >
		Good Links
	</a>
	</div>
	<div class="col-sm-3">
	<a href="/links" class="btn btn-lg btn-outline tiles-nd1" >
		Bla
	</a>
	</div>
	<div class="col-sm-3">
	<a href="/links" class="btn btn-lg btn-outline tiles-nd1" >
		Blu
	</a>
	</div>
	<div class="col-sm-3">
	<a href="/links" class="btn btn-lg btn-outline tiles-nd1" >
		ble
	</a>
	</div>

	</div>
</div>
