<section id="great-links">
			<h3 class="scshape">Trivia</h3>

	<div class="row" style="margin-bottom:10px">
	<div class="col-sm-3"><div class="alert alert-success">
	<a href="http://devdocs.io/" class="btn btn-default" >
		devdocs
	</a>
	</div>
	</div>
	<div class="col-sm-3">
	<a href="/links" class="btn btn-default" >
		Bla
	</a>
	</div>
	<div class="col-sm-3">
	<a href="/links" class="btn btn-default" >
		Movies
	</a>
	</div>
	<div class="col-sm-3">
	<a href="/links" class="btn btn-default" >
		Awesone links
	</a>
	</div>

	</div>
</div>
</section>
