<section id="great-links">
<div class="container">
	<div class="row" style="margin-bottom:10px">
		<div class="col-lg-12 text-center">
			<h3 style="color:white"> Awesome Pages</h3>
			<hr class="star-light" style="font-size:10px">
		</div>
	</div>

	<div class="row" style="margin-bottom:10px">
	<div class="col-sm-3">
	<a href="http://devdocs.io/" class="btn btn-lg btn-outline nx-tlx" >
		devdocs
	</a>
	</div>
	<div class="col-sm-3">
	<a href="/links" class="btn btn-lg btn-outline nx-tlx" >
		Bla
	</a>
	</div>
	<div class="col-sm-3">
	<a href="/links" class="btn btn-lg btn-outline nx-tlx" >
		Blu
	</a>
	</div>
	<div class="col-sm-3">
	<a href="/links" class="btn btn-lg btn-outline nx-tlx" >
		others..
	</a>
	</div>

	</div>
</div>
</section>
