<!-- Little Things Section -->
<div class="well">
<main id="little-things">
	<p>
		<h2 class="text-center scshape">The Little Things</h2>
	</p>
	<div class=" col-sm-6">
		<div class="thumbnail tile tile-medium tile-teal">
			<a href="{{links[forloop.index0]}}/">
				<h1>Blog</h1>
			</a>
		</div>
		<div class="thumbnail tile tile-medium tile-teal">
			<a href="{{links[forloop.index0]}}/">
				<h1>Code</h1>
			</a>
		</div>
	</div>
	<div class=" col-sm-6">
		<div class="thumbnail tile tile-medium tile-teal">
			<a href="{{links[forloop.index0]}}/">
				<h1>Repos</h1>
			</a>
		</div>
		<div class="thumbnail tile tile-medium tile-teal">
			<a href="{{links[forloop.index0]}}/">
				<h1>Bla</h1>
			</a>
		</div>
	</div>
	sdcjbcsdcbsdcsdkcbcsdkbch
</main>
</div>
