
  <div class="
    col-xs-6
    col-sm-2 col-sm-offset-4 
    col-md-2 col-md-offset-4
    col-lg-2 col-lg-offset-4
    ">
    <p class="text-right">
    <a href="/archive">
    <button class="btn btn-primary main-button">
      Blog
    </button>
    </a>
    </p>
  </div>
  <div class="
    col-xs-6
    col-sm-2 
    col-md-2
    col-lg-2
    ">
    <p class="text-left">
    <a href="/repos">
    <button class="btn btn-primary main-button">
    Repos
    </button>
    </a>
    </p>
  </div>


