TITLE=new-post
TAG1=tag1
TAG2=tag2
DATE=$1

cat << EOF
---
layout: card
title : ${TITLE}
tags : [${TAG1},${TAG2}]
image: ${DATE}-img1.jpg
---

<img src="/images/${DATE}-${TITLE}-00.jpg">
<img src="/images/${DATE}-${TITLE}-01.jpg">
EOF
