TITLE=new-post
TAG1=tag1
TAG2=tag2
DATE=$1

cat << EOF
---
layout: card
title : ${TITLE}
tags : [${TAG1},${TAG2}]
---

<img src="/images/${DATE}-${TITLE}.compiled-0.jpg">
<img src="/images/${DATE}-${TITLE}.compiled-1.jpg">
EOF
