{{ define "main" }}

<h1>Tags</h1>
    <!-- <br>
    {{ range $key, $taxonomy := .Site.Taxonomies.tags }}
        <span class="black">&bull;</span>
        <a href="#{{$key}}">
            #{{- $key -}}<small>({{len $taxonomy.Pages}})</small>
        </a>
    {{ end }} -->
    
    {{ range $key, $taxonomy := .Site.Taxonomies.tags }}
        <h2 id="{{$key}}" style="text-transform: capitalize;"> {{ $key }} </h2>
        <div id="{{$key}}"></div>
        <ul>
        {{ range $taxonomy.Pages }}
            <li>
                <!-- <span class="tiny green">[{{ .Section }}]</span> -->
                <a href="{{ .Permalink}}"> 
                    {{if .Params.draft}} 
                        [draft]
                    {{end}}
                    {{ .LinkTitle }} 
                </a> 
            </li>
        {{ end }}
        </ul>
    {{ end }}

{{ end }}
