* {
	margin: 0;
}

/*::begin footer*/

html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	padding-top :40px;
	margin-bottom: 60px;
}
.nx-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
}

/*::end footer*/
/*::begin nav-toggle-icon -*/

.navbar-fixed-top .navbar-nav > li > a {
	padding-top:1px !important; 
	padding-bottom:1px !important;
}
.navbar-fixed-top{
	border-top:1px solid #555;
	border-bottom:1px solid #555;
}

.navbar .navbar-nav {
	letter-spacing: 1px;
	font-variant: small-caps;
	margin-left:0px;
}
button.navbar-toggle{
	border:0px solid transparent;
	margin-top :0px;
	margin-bottom :0px;
	padding: 3px 10px 0px 10px;
	color:#9d9d9d;
}
.nav>li>a{
	padding:0px 5px;
}

/*::end nav-toggle-icon */
/*::begin dp */
.dp{
	padding:3px;
	border:2px solid #555;
	background-color:#fff;
}

/*::end dp */




// Rules for sizing the icon.
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


