<li class="card_item">
  <div class="card_entry">
    <div class="card_head">
      <a href="{{ .Permalink }}" class="card_link">
        <span class="card_title">
          {{- if eq (.Scratch.Get "display_section") "True" -}}
            {{- if eq .Section "links" -}}
              <span class="card_external">⇗</span>
            {{- end -}}
          {{- end -}}
          {{if .Params.draft}}<span class="card_draft">[draft]</span>{{end}}
          {{- .Title -}}
        </span>
      </a>
      <span class="card_dots"></span>
      <div class="card_meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">
          {{ if ge .Date.Unix 0 }}
            {{ .Date.Format "2006 Jan 02" }}
          {{ else }}
          ꧁𑗊⁂𑗊꧂
          {{ end }}
        </time>
      </div>
    </div>

    {{- if .Params.Tags -}}
    <ul>
      <li>
        {{ range $index, $tag := .Params.Tags }}
        <a class="card_tag" href="/tags#{{ . | urlize }}">{{ . }}</a>{{ if ne (add $index 1) (len $.Params.Tags) }},{{ end }}
      {{ end }}
      </li>
    </ul>
    {{- end -}}
  </div>
</li>