<li class="card_item">
  <div class="card">

    <div class="card_l">
      <div class="card_head">
        <a href="{{ .Permalink }}" class="card_link">
          <div class="card_title">
            <span class="card_title_text">{{- .Title -}}</span>
            {{- if .Params.draft -}}<span class="card_draft">[draft]</span>{{- end -}}
            {{- if eq .Section "notes" -}}<span class="card_draft">[note]</span>{{- end -}}
          </div>
        </a>
        <div class="card_dots"></div>
      </div>

      <div class="card_body">
        {{ $isSeries := eq .Params.type "series_collection" }}

        {{ if or .Params.Tags $isSeries }}
        <ul class="small">
          {{ if $isSeries }}
          <li>
            <i>part {{ .Params.slug }} of <a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a> collection.</i>
          </li>
          {{ end }}
      
          {{ if or .Params.Tags }}
          <li>      
            {{ if .Params.Tags }}
              {{ range $index, $tag := .Params.Tags }}
                <a class="card_tag" href="/tags#{{ . | urlize }}">{{ . }}</a>{{ if ne (add $index 1) (len $.Params.Tags) }},{{ end }}
              {{ end }}
            {{ end }}
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>

    <div class="card_meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}">
        {{ if ge .Date.Unix 0 }}
          {{ .Date.Format "2006 Jan 02" }}
        {{ else }}
          ꧁𑗊⁂𑗊꧂
        {{ end }}
      </time>
    </div>

  </div>
</li>