<ul class="link_item">
    <li>
        {{ if .Params.favorite }}
          <span class="small red">❤︎ </span>
        {{ else }}
          <span class="small green">♣ </span>
        {{ end }}
    </li>
    <li>
        <time class="black small">{{ time.Format "(02 Jan 2006)" .Params.date }}</time>
    </li>
    <li>
        <a href="{{ .Permalink }}" class="blue">
            {{- .Title -}}
        </a>
        <span class="gray"><i>by {{ range .Params.authors }} {{.}} {{ end }}</i></span>
    </li>
</ul>