<ul class="list_item">
    <li>
        <time class="small black">{{ .Date.Format "(02 Jan 2006)" }}</time>
    </li>
    <li>
        <a class="blue" href="{{ .Permalink }}" >
            {{if .Params.draft}} 
                [draft]
            {{end}}
            {{- if eq (.Scratch.Get "display_section") "True" -}}
                {{- if eq .Section "links" -}}
                    <span class="green">⇗ </span>
                {{- end -}}
            {{- end -}}
            {{- .Title -}}            
        </a>
    </li>
    {{ if .Params.Tags }}
        <li>
        {{ range $index, $tag := .Params.Tags }}
            <a class="black small" href="/tags#{{ . | urlize }}">{{ . }}</a>{{ if ne (add $index 1) (len $.Params.Tags) }}, {{ end }}
        {{ end }}
        </li>
    {{ end }}
</ul>