{{ define "main" }}
<section>
  <div>
    {{.Content}}
  </div>
  <h2>Feed</h2>
  <ul>
    {{ $sections := where .Site.RegularPages "Section" "in" (slice "posts" "stories" "notes") }}
    {{ $types := where .Site.RegularPages "Params.type" "in" (slice "series_collection") }}
    {{ $p := $sections | union $types }}

    {{ range first 1000 $p }}
      <!-- {{.Section }} -->
      {{ .Scratch.Set "display_section" "True" }}
      {{- partial "card_item.html" . -}}
      {{ .Scratch.Set "display_section" "False" }}
    {{ end }}
  </ul>
</section>
{{ end }}
