{{ define "main" }}
<section>
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
    {{.Content}}
    
    <h2>Latest</h2>
    <div style="margin-top:1em;text-align: left;" >
    <!-- {{ $p := where .Site.RegularPages "Section" "in" (slice "notes" "posts" "stories") }} -->
    {{ $p := where .Site.RegularPages "Section" "in" (slice "posts" "stories") }}

    {{ range first 24 $p }}
        <!-- {{.Section }} -->
        {{ .Scratch.Set "display_section" "True" }}
        {{- partial "list_item.html" . -}}
        {{ .Scratch.Set "display_section" "False" }}
    {{ end }}
    </div>
</section>
{{ end }}
