{{ define "main" }}
<main>
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
    {{.Content}}
    

    <!-- Ranges through content/posts/*.md -->
	<h2>Latest posts</h2>
    <div style="margin-top:1em" >
    {{ $p := where .Site.RegularPages "Section" "in" (slice "notes" "posts" "stories" "links") }}

    {{ range first 24 $p }}
        <!-- {{.Section }} -->
        {{ .Scratch.Set "display_section" "True" }}
        {{- partial "list_item.html" . -}}
        {{ .Scratch.Set "display_section" "False" }}
    {{ end }}
    </div>
</main>
{{ end }}