<header id="banner" style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content:flex-start; align-items:baseline; font:var(--font-secondary);" >
    <big class="h2" style="flex: 0 0 80px;">
        <b>
            <a href="{{ .Site.BaseURL }}" class="black">
                {{- .Site.Title -}}
            </a>
        </b>
    </big>
    <nav style="flex: 0px;">
        <ul style="display: flex;flex-direction: row; gap:1rem; justify-content: safe flex-end;">
            {{- range where .Site.Sections "RelPermalink" "not in" (slice "/ee/" "/links_fav/") -}}
                <li><a href="{{ .Permalink }}">{{- .Title -}}</a></li>
            {{- end -}}
            <li><a href="/about">about</a></li>
            <!-- <li><a href="/tags">tags</a></li> -->
        </ul>
    </nav>
</header>
<hr style="margin:0">
