.cm-content {
  font-family:"Iowan Old Style", "Palatino", "Georgia", Times New Roman, Times, serif;
  color:black;
}

.markdown-preview-view {
  font-family:"Iowan Old Style", "Palatino", "Georgia", Times New Roman, Times, serif;
  color:black;
}

.markdown-preview-view p{  
  text-align: justify;
} 