---
layout: default
---

{%- if site.posts.size > 0 -%}
<h2>Posts</h2>
	{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
	<ul>
	{%- for post in site.posts -%}
		<li>
		  <a href="{{ post.url | relative_url }}"><b>{{ post.title | escape }}</b></a><br>
		  <small>
		  	<code>[{{ post.date | date: date_format }}]</code>
			  {% for tag in post.tags %}
				• <a href="tags#{{tag}}">{{tag}}</a>
			  {% endfor %}
		  </small>
		   
		  <p>{{ post.excerpt | strip_html | truncatewords:1000 }}</p>
		</li>
	{%- endfor -%}
	</ul>
{% endif %}

