---
layout: default
---

<div class="col">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


</div>
</div>

<div class="row">

<!--   {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt | strip_html | truncatewords:200 }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%} -->



{%- for post in site.posts -%}
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
<div class="media py-1">
  <div class="media-body">
    <h4 class="post-listing-header">
      <a class="text-decoration-none" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a><br>
      <span class="font-weight-lighter text-muted text-monospace" style="font-size:50%">{{ post.date | date: date_format }}</span>
    </h4>
    
    <p>
    {{ post.excerpt | strip_html | truncatewords:25 }}
    </p>  
  </div>
</div>
</div>

      {%- endfor -%}

</div>

<div class="row">