---
layout: default
---

<div class="container">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
<!--
  {{ content }}
-->

  {%- if site.posts.size > 0 -%}
    <h1 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h1>
    <ul class="list-unstyled">
      {%- for post in site.posts -%}
      <li>
      	<div class="postit p-3 my-3  border border-light">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h2>
          
            {{ post.title | escape }}

        </h3>
        <span class="small font-monospace text-muted">{{ post.date | date: date_format }}</span>
        <br>
        <span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt | strip_html | truncatewords:500 }}
        {%- endif -%}
	    </span>
	    <a class="card-link" href="{{ post.url | relative_url }}" style="text-decoration: none;">read more...</a>
	    </div>
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
