---
layout: default
---
  <h1 class="text-center display-3">
    {{ page.title | escape}}
  </h1>
  <hr>
  <small>
  <span>[{{page.date|date_to_string}}]</span>
      {% if page.tags.size >0 %}
        {% for tag in page.tags %}
          • <a href="/tags#{{tag}}">{{tag}}</a>
        {% endfor %}
      {% endif %}
  </small>
  {{ content }}
  
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
