---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
<div class="row my-5">  
  <h1 class="text-center display-3">
    {{ page.title | escape}}
  </h1>

  <div class="col" style="text-align:center">
    <span class="small text-black-50">{{page.date|date_to_string}}</span>
      {% if page.tags.size >0 %}
        {% for tag in page.tags %}
          <span>•</span>
          <a href="/tags#{{tag}}" class="px0 small text-black-50">{{tag}}</a>
        {% endfor %}
      {% endif %}
  </div>
</div>
  <div class="">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
