{{ define "main" }}
<h2>Links</h2>
{{.Content}}

{{ range (where .Site.Pages.Reverse "Section" "links") }}
<ul>
   {{ range sort .Pages "File.Path" "desc"}} 
   	<li>
   		<div style="display:flex; flex-direction: column;">
				<div style="text-align: left;">
					<a href="{{ .Params.ext_url }}" target="_blank">
					    <big>{{ .Title }}</big>
					</a>
				</div>
				<div>
		   		<span class="tiny green" style="display: block;word-break: break-all;">⇝ {{ .Params.ext_url }}</span>
				</div>
				<div>
					<i class="grey">by {{ range .Params.authors }} <a class="gray" href="">{{.}}</a> {{end}} </i>
					{{ range .Params.tags }} <small>• {{.}}</small> {{end}}
				</div>
				<div>
					{{with .Content}}
						<small>{{- . -}}</small>
					{{ else }}
						<p> </p>
					{{ end }}
				</div>
			</div> 
		</li>
   {{ end }}
</ul>
{{ end }}
{{ end }}
