{{ define "main" }}
<h2>Links</h2>
{{.Content}}


{{ $p := where .Site.RegularPages.Reverse "Section" "in" (slice "links") }}


<ul style="padding-inline-start:0">
    <li style="display: block">
        <div class="row">
            <div class="col-2"> <span class="small grey">  </span> </div>
            <div class="col-8" style="text-align:center">
                <a href="/links_fav" class="small green"> only <span class="red">❤︎ </span></a>
            </div>
            <div class="col-1">
             </div>
        </div>
     </li>
    {{ range sort $p "Params.date" "asc" | collections.Reverse }}
        <li style="display: block">
            {{- partial "link_item.html" . -}}
        </li>
    {{ end }}
</ul>
{{ end }}
