{{ define "main" }}

  
<h1>{{ .Title }}</h1>
<ul> 
  <li>Author(s): {{ range .Params.authors }} <a href="">{{.}}</a> {{end}}</li>
  <li>Tags: {{ range .Params.tags }} {{.}} {{end}}</li>
  <li>Categorisation: 
    {{ if .Params.favorite }}
      <span class="small red">[❤︎]</span>
    {{ else }}
      <span class="small green">[♣]</span>
    {{ end }}
  </li>
  {{with .Content}}
  <li>Excerpt:
    <p>
      {{- . -}}
    </p>
  </li>
  {{ else }}
  {{ end }}
  
  <li>Link: <a class="link small green monospace" href="{{ .Params.ext_url }}" target="_blank" style="word-break: break-all;">
    {{ .Params.ext_url }}
  </a>
  </li>
</ul>
[<a class="blue" href="/links/">go back</a>]

{{ end }}
