{{ define "main" }}
<section>
  <!--<h2>{{ .Title }}</h2>-->
<ul>
  <li>
      <div style="display:flex; flex-direction: column;">
        <div>
          <span class="tiny green" style="display: block">⇝ {{ .Params.ext_url }}</span>
        </div>
        <div>
          <a href="{{ .Params.ext_url }}" target="_blank" >
              <big>{{ .Title }}</big>
          </a>
        </div>
        <div>
          <i class="grey">by {{ range .Params.authors }} <a class="gray" href="">{{.}}</a> {{end}} </i>
          {{ range .Params.tags }} <small>• {{.}}</small> {{end}}
        </div>
        <div>
          {{with .Content}}
            <small>{{- . -}}</small>
          {{ else }}
            <p> </p>
          {{ end }}
        </div>
      </div>
  </li>
</ul>
</section>
{{ end }}