<!DOCTYPE html>
<html style="height: 100%;">
    {{- partial "head.html" . -}}
    <body style="height: 100%;">
            <div class="header"> 
                {{- partial "header.html" . -}}
            </div>

        <div class="container text-justify" style="display: flex;flex-direction: column;min-height: 100vh;">
            <div class="main" style="flex: 1;"> 
                <main id="content">
                    {{- block "main" . }}{{- end }}
                </main>
            </div>
            <div class="footer">
                {{- partial "footer.html" . -}}
            </div>
        </div>
    </body>
</html>
